.blockElements {
  position: relative;
  width: 100%;
  background: #ebf0f5;
  margin-bottom: 20px;
  box-sizing: border-box;

  padding: 30px 40px;
  border-radius: 1rem;
}

.blockCompleted {
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  box-sizing: border-box;

  padding: 30px 40px;
  border-radius: 1rem;
}

.title {
  font-size: 17px;
  margin-bottom: 10px;
  color: #333;
}

.subtitle {
  color: #555;
  font-size: 13px;

  margin-left: 5px;
}
.p {
  margin-bottom: 3px;
  font-size: 15px;
  color: #444;
}

.empName {
  display: inline-block;
  width: 100px;
}
.score {
  display: inline-block;
  text-align: left;
  width: 100px;
}

.workDate {
  color: #555;
  font-size: 13px;

  margin-bottom: 10px;
}
.text {
  line-height: 1.2em;
}

.button {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  color: #7e7e7e;
}

.span {
  margin-right: 15px;
}
