.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em;
}

.title {
  font-size: 26px;
  font-weight: bold;
  margin: 0;
  color: #0c243c;
}

.button {
  background: transparent;
  font-size: 27px;
  color: #bebebe;
  cursor: pointer;
}
